body{
    background-color: #121439;
}

/*fonts*/
.pecita{
    font-family: 'Pecita', sans-serif;
}

.Chonburi{
    font-family: "Chonburi", serif;
}

/*colour*/
.blue{
    color: #B5C7E8;
}

.white{
    color: white;
}

.grey{
    color: #737F8E;
}

.off-white{
    color: #D9D9D9;
}

/*formatting*/
.header{
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    background-color: #121439;
    height: 95px;
}

.logo{
    font-size: 37px;
    font-weight: 100;

    display: flex;
    margin-left: 7%;
    margin-top: -30px;
}

.logo-star{
    width: 30px;
    height: 35px;
    margin-top: 62px;
    margin-left: 2px;
}

.logo-text2{
    margin-left: -3px;
    margin-top:60px;
}

.nav-bar{
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    width: 50%;
    margin-top: 40px;
    margin-right: 120px;
}

.nav-item{
    text-decoration: none;
    font-size: 20px;
}

.title{
    width: 700px;
    margin: auto;
    margin-top: 170px;
}

.title-text{
    font-family: "didot", serif;
    justify-self: center;
    font-size: 170px;
    line-height: 95%;
}

.hi{
    position: relative;
    font-size: 35px;
}

.title-star{
    position: relative;
    width: 32px;
}

.slogan{
}